fastapi[all]
fastapi-users
fastapi-cache2[redis]
PyJWT
sqlalchemy
asyncpg
alembic
celery
flower
pytest
pytest-asyncio
pydantic
pydantic-settings

black
flake8
autoflake
isort
pyright
httpx

passlib

sqladmin[full]

python-json-logger

--upgrade 'sentry-sdk[fastapi]'
