SENTRY_SECRET_KEY==b837*_v2-84+c-%-a!d%2%cop_%l3-n9^!b@mhsqa&-6257knx
SENTRY_POSTGRES_HOST=sentry-postgres
SENTRY_POSTGRES_PORT=5432
SENTRY_DB_NAME=sentry
SENTRY_DB_USER=sentry
SENTRY_DB_PASSWORD=89PsZXyRStOT2
SENTRY_REDIS_HOST=sentry-redis
SENTRY_REDIS_PORT=6379